@model IList<string>

@{
    ViewBag.Title = "ViewBookedSessions";
    Layout = "_Layout";
}

<h2>View Booked Sessions</h2>


<table class="table">
    <tr>
        <th>
        </th>
        <th>
        </th>
    <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
            </td>
        <td>
        </td>
        <td>
        </td>
        </tr>
    }

</table>
